* {
    box-sizing: content-box;
  }

html {
 border: solid 5px lightgrey;

}

body {
 display: flexbox;
 padding: 20%;
 justify-content: center;
 align-items: center;

}


h1 {
    
    color: white;
    text-align: center;
    background-color: rgb(150, 198, 125);
    width: 100%;
    height: 35px;
    font-family:Helvetica;
    padding:20px;

  }

 

#input {
    border: 5px solid rgb(150, 198, 125);
    width: 57%;
    height: 40px;
   
}

#buttom {
    border: 5px solid rgb(150, 198, 125);
    background-color: white;
    color: rgb(150, 198, 125);
    width: 32%;
    height: 40px;
    margin-left: 10px;
    margin-right: 0;
}

ul {
    list-style: none;
}

#icon {
  color: #fff;
  margin: 10px ;
  text-align: center;
  background-color: red;
  padding: 5px;
 
}
 
#list {
    margin: 30px;
    font-size: 25px;
    color: #ffb23e;
  }


 